@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styling below */
body {
  background: linear-gradient(to bottom right, #f9fdfc, #e6f4ef);
  color: #0f172a;
  font-family: 'Inter', sans-serif;
}

html,body,#root {
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #0f172a;
}
html {
  scroll-behavior: smooth;
}
